<%- include('partials/header') %>

<style>
  /* Custom CSS for animation */
  .jumbotron {
    animation: pulse 2s infinite alternate;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.02);
    }
  }
</style>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    
    <% userWithSecrets.forEach(userSecret => { %>
      <p class="secret-text"> <%= userSecret.secret %> </p>
    <% }); %>
    
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
